* {
	border: none;
	font-family: "DejaVu Sans", "MesloLGMDZ Nerd Font";
}

window#waybar {
	background: rgba(0, 0, 0, 0.8);
	color: white;
}

#workspaces button {
	padding: 0 0.5em;
}

#workspaces button.visible {
	background: gray;
	color: black;
}

#disk.warn {
	color: yellow
}
#disk.crit {
	color: red
}

#network.disconnected {
	color: red
}

.modules-right * {
	padding: 0 10px;
}

#tray, #tray image {
	padding: 0 0;
}
